@page
@model Assignment.Pages.ChangePasswordModel
@{
}

<p class="h2 text-center">Change Password</p>

<div class="row">
    <div class="col-md-12">
        <form method="post">
            <label for="inputPassword5" class="form-label" asp-for="@Model.Change.CurrentPassword">Old Password</label>
            <input type="password" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock" asp-for="@Model.Change.CurrentPassword">
            <label for="inputPassword5" class="form-label" asp-for="@Model.Change.NewPassword">New Password</label>
            <input type="password" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock" asp-for="@Model.Change.NewPassword">
            <label for="inputPassword5" class="form-label" asp-for="@Model.Change.ConfirmNewPassword">Confirm Password</label>
            <input type="password" id="inputPassword5" class="form-control" aria-describedby="passwordHelpBlock" asp-for="@Model.Change.ConfirmNewPassword">
            <span class="text-danger" asp-validation-for="@Model.Change.ConfirmNewPassword"></span>
            <span class="text-danger">@TempData["ErrorMessage"]</span>
            <button type="submit" class="btn btn-primary mt-2">Save Password</button>
        </form>
    </div>
</div>